<VirtualHost *:80>
  ServerName default
  ErrorDocument 403 "Sorry, can't allow you access today."
</VirtualHost>

<VirtualHost *:80>
   ServerName condr.lan
   ProxyPass / http://app/public
</VirtualHost>

<VirtualHost *:80>
   ServerName webhooks.condr.lan
   ProxyPass / http://webhooks:9000/hooks/
</VirtualHost>
