#desiredPreferencesChart
{
  margin-top: 30px;
}
#undesiredPreferencesChart
{
  margin-top: 30px;
}
#desiredProductsChart
{
  margin-top: 30px;
}
#undesiredProductsChart
{
  margin-top: 30px;
}
#minPreferencesChart
{
  margin-top: 30px;
}
#maxPreferencesChart
{
  margin-top: 30px;
}
#categoryChart
{
  margin-top: 30px;
}
#companyChart
{
  margin-top: 30px;
}
#similarPreferencesChart
{
  margin-top: 30px;
}
