.form-control {
  height:44px;
  border: solid #2F937B;
  font-size: 15px;
}
.searchbtn {
  /*margin-top: 15px;
  margin-left: 3px;*/
  height: 44px;
}
h2{
  color: white;
  text-align:center;
}
.center_div {
  margin: 0 auto;
  width:44%;
}
