/*.form-control {
  height:44px;
  border: solid #2F937B;
  font-size: 15px;
}
.searchbtn {
  height: 44px;
}*/

h2 {
  margin-bottom: 30px;
}

.center_div {
  margin: 0 auto;
  width:38%;
}

/*.col-md-offset-1 {
  margin-left: 0%;
}
.col-md-10 {
    width: 60%;
}*/
.media-heading {
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 10px;
    /*color:white;*/
}
/*.panel-body {
  padding: 5px;
  margin-top: 0%;
}*/
.media>.pull-left {
  padding: 4px;
}
.media-object {
  width: 108px;
  height: 100px;
}
.media-body h4 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
}

.thumbnail {
  margin-bottom: 10px;
}

.pagination{
      padding-left: 90px;
}

.pagination>.active>span{
      background-color:#2F937B;
}

.pagination>.active>span:hover{
      background-color:#85144B;
}
.pagination>li>a{
      color:#2F937B;
}
a.btn.btn-product {
  margin-top: 24px;
  margin-bottom: 24px;
}

a.btn.btn-product {
  margin-top: 24px;
}

@media screen and (max-width: 767px) {
  a.btn.btn-product {
    margin-top: 0px;
    margin-bottom: 24px;
  }
  h4 {
      font-weight: 700;
      font-size: 23px;
  }
}
